<p>
  <strong>Name:</strong>
  <%= @cocktail.name %>
</p>

<%= link_to 'Home', cocktails_path %> <br>
<%= link_to "Add a new doses", new_cocktail_dose_path(@cocktail) %>
<p></p>

<ul>
<% @cocktail.doses.each do |dose| %>
  <li> <%= dose.description %> <br> <%= dose.ingredient.name %> </li>
  <%= link_to dose_path(@dose), method: :delete do %>
  <i class="fas fa-trash"></i> <!-- https://fontawesome.com/icons?d=gallery&q=delete -->
<% end %>
</ul>








<!-- <div class="banner" id="show" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<%= cl_image_path @cocktail.photo %>');">
  <div class="banner-content">
    <h1> <%= @cocktail.name %> </h1>
  </div>




</div>

<div class="wrapper">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-sm-offset-3">
        <div class="ccard-wrapper">
          <div class="ccard-title">
            <h4>
              <b>
                <%= @cocktail.name.upcase %>
              </b>
            </h4>
          </div>
          <div class="ccard-video">
            <div class="ccard-title">
              <h6>
                STORY
              </h6>
            </div>
            <p>A <%= @cocktail.name %> is a highball cocktail made with <%= @cocktail.ingredients.first.name %> and <%= @cocktail.ingredients.last.name %> poured over ice. It is usually garnished with a slice or wedge of lime. The amount of <%= @cocktail.ingredients.first.name %> varies according to taste. Suggested ratios of <%= @cocktail.ingredients.last.name %> to <%= @cocktail.ingredients.first.name %> are between 1:1 and 1:3.</p>
            <div class="ccard-image">
              <%= cl_image_tag @cocktail.photo, height: 300, width: 400, crop: :fill, class: "imageshow" %>
            </div>
          </div>
          <div class="ccard-ingredients">
            <div class="ccard-title">
              <h6>
                INGREDIENTS
              </h6>
            </div>
            <div class="ccard-ingredient-list">

              <% @cocktail.doses.each do |dose| %>
                <div class="ccard-ingredient">
                  <div>
                    <%= Ingredient.find(dose.ingredient_id).name.upcase %> <%= dose.description.upcase %>
                   </div>
                   <%= link_to cocktail_dose_path(@cocktail, dose), method: :delete do %>
                   <i class="fa fa-trash"></i>
                   <% end %>
               </div>
              <% end %>
            </div>
          </div>
          <%= render 'doses/form', cocktail: @cocktail, dose: @dose %>
        </div>
      </div>
    </div>
  </div>
  <%= link_to "BACK", cocktails_path, class: "btn btn-primary" %>

</div>
 -->










    <!-- <h3>Add an ingredient <%#= link_to 'here', new_cocktail_dose_path(@cocktail)%></h3>
     -->
