<p>
  <strong>Name:</strong>
  <%= @cocktail.name %>
</p>

<%= link_to 'Home', cocktails_path %> <br>
<%= link_to "Add a new doses", new_cocktail_dose_path(@cocktail) %>
<p></p>

<ul>
  <% @cocktail.doses.each do |dose| %>
    <li> <%= dose.description %> <br> <%= dose.ingredient.name %> </li>
  <% end %>
</ul>

<%= link_to cocktail_path(@cocktail), method: :delete do %>
<i class="fas fa-trash"></i> <!-- https://fontawesome.com/icons?d=gallery&q=delete -->
<% end %>
